html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

/* FOOTER DESIGN */
.deco-container {
  margin-bottom: 50px;
}

.content-default {
  padding: 5px 10px;
}

.title-deco-container {
  /* 120 60 20 */
  display: grid;
  grid-template-columns:    
    [start]       1fr
    [mid-start]   20px
    [small-start] 10px
    [main-start]  5px
    [inner-start] 5px
    [small-end]   20px
    [mid-end]     80px
    [mid-start]   20px
    [small-start] 5px
    [inner-end]   5px
    [main-end]    10px
    [small-end]   20px
    [mid-end]     1fr
    [end]
  ;
  grid-template-rows:
    [main-start]    5px
    [inner-start]   15px
    [small-start]   20px
    [mid-start small-end]     10px
    [dot-start]     5px
    [content-start] 30px
    [content-end]   5px
    [dot-end]       10px
    [mid-end small-start]   20px
    [small-end]     15px
    [inner-end]     5px
    [main-end]
  ;
}

.title-deco-container .content {
  grid-column: start / end;
  grid-row: content-start / content-end;
  z-index: 100;
  border-top: 1px solid sandybrown;
  border-bottom: 1px solid sandybrown;
}

.title-deco-container .content-dot {
  grid-column: start / end;
  grid-row: dot-start / dot-end;
  border-top: 1px dotted green;
  border-bottom: 1px dotted green;
}

.title-deco-container .main-diamond-outer {
  grid-area: main;
  transform: rotate(45deg);
  z-index: 50;
  border: 1px solid rgb(255, 190, 13);
  background-color: rgba(121, 0, 0, 0.459);
}

.title-deco-container .main-diamond-inner {
  grid-area: inner;
  transform: rotate(45deg);
  z-index: 60;
  border: 1px dotted rgba(240, 255, 27, 0.596);
}

.title-deco-container .mid-diamond-left {
  grid-column: mid-start 1 / mid-end 1;
  grid-row: mid-start / mid-end;
  transform: rotate(45deg);
  z-index: 40;
/*   z-index: 999; */
  border: 1px solid lightcoral;
  background-color: rgba(0, 0, 0, 0.397);
}

.title-deco-container .mid-diamond-right {
  grid-column: mid-start 2 / mid-end 2;
  grid-row: mid-start / mid-end;
  transform: rotate(45deg);
  z-index: 40;
/*   z-index: 30; */
  border: 1px solid lightcoral;
  background-color: rgba(0, 0, 0, 0.397);
}

.title-deco-container .small-diamond-left-top {
  grid-column: small-start 1 / small-end 1;
  grid-row: small-start 1 / small-end 1;
  transform: rotate(45deg);
/*   z-index: 1000; */
  border: 1px dotted plum;
}

.title-deco-container .small-diamond-left-bottom {
  grid-column: small-start 1 / small-end 1;
  grid-row: small-start 2 / small-end 2;
  transform: rotate(45deg);
  border: 1px dotted plum;
}

.title-deco-container .small-diamond-right-top {
  grid-column: small-start 2 / small-end 2;
  grid-row: small-start 1 / small-end 1;
  transform: rotate(45deg);
  border: 1px dotted plum;
}

.title-deco-container .small-diamond-right-bottom {
  grid-column: small-start 2 / small-end 2;
  grid-row: small-start 2 / small-end 2;
  transform: rotate(45deg);
  border: 1px dotted plum;
}

#footer-header {
  font-weight: 500;
  color: wheat;
  font-size: 1.7em;
}
/**/
header,
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
float: right;
  /* margin: 0 -0.5em; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* footer {
    margin: 0 -0.5em;
} */



.bg-header 

h1 {
  font-size: 2.5em;
  padding-bottom: 0.2em;
  letter-spacing: 0.15em;
}

h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
  color: rgb(255, 255, 255);
  font-size: 38px;
  letter-spacing: 0.15em;
  background: radial-gradient(
    circle closest-side,
    rgb(36, 35, 35),
    #fafafa00
  ),url(/art-deco-2.jpg);
  /* margin-top: 20px; */
  margin-bottom: 10px;
  padding: 45px;
  border-bottom: 4px solid #686767;
  box-shadow: 2px 4px 13px 0px rgba(0, 0, 0, 0.75);
}

#about-header {
  /* The image used */
  background-image: radial-gradient(
    circle closest-side,
    rgb(26, 25, 25),
    #fafafa00
  ),url(/about-header.jpg);
  filter: url('#spring-grass') sepia(0.83) saturate(1.1) brightness(0.8);


  color: white;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
#headline
 {
  text-align: center;
  font-family:  sans-serif;
}

h3 {
  font-size: 1.6em;
  font-weight: bold;
  padding: 0;
  letter-spacing: 0.08em;
}

h4 {
  margin-top: 0.8em;
  font-weight: bold;
}

footer {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  background-image: url(/images/gold-footer.jpg);
  filter: invert(0.15);
  padding: 2em 0 4.0em;
    border-bottom: 6px dashed #8b1d1d;
}

article {
  flex-basis: 50%;
}
#contact-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* footer:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(/images/gold-footer.jpg);
  content: "";
  
  opacity: 0.3;
  position: fixed;
  
} */

footer > ul {
  display: flex;
  flex-direction: row;
  padding: 0.3em 0;
}







.project {
  padding: 1.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-info > p {
  color: grey;
  padding: 0.5em 0;
  line-height: 1.3em;
}
.live-app-link {
  position: relative;
  margin: 0.5em 0 1em;
  padding: 0;
  max-width: 548.83px;
}

.project-screenshot {
  max-width: 100%;
  max-height: 450px;
  align-self: center;
  border: 1px grey solid;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.live-app-link:hover > .project-screenshot,
.live-app-link:focus > .project-screenshot {
  filter: grayscale(100%) blur(2px);
  cursor: pointer;
}

.view-project {
  opacity: 0;
  padding: 0.2em 0;
  color: white;
  background-color: rgba(117, 13, 13, 0.7);
  font-size: 2em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0;
}

.live-app-link:hover > .view-project,
.live-app-link:focus > .view-project {
  opacity: 1;
}

.project-links {
  margin-top: 0.3em;
}

.project-links > a {
  color: white;
  background: rgb(80, 76, 87);
  border-style: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

.project-links > a:hover {
  border-style: none;
  transform: translateY(-4px);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  background: rgba(80, 76, 87, 0.651);
}
#firebase{
  width:54px;
}

.client-code {
  margin-right: 0.4em;
}

.contact-link {
  padding: 0.2em 0.5em;
}

.contact-link > a {
  color: rgb(248, 243, 232);
  font-size: 3em;
}

#contact-text {
  margin-bottom: 0.6em;
  color: rgb(255, 255, 255);

  font-size: 20px;
}

#headline {
  font-size: 1.2em;
  color: grey;
  padding-bottom: 0.8em;
}

/* #projects,
#bio {
  max-width: 1100px;

} */


#projects {

  background: rgba(190, 190, 190, 0.596);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid navy;
  /* margin-bottom: 1em; */
}

#projects > h2 {
  width: 100%;
}

#bio-text > p {
  line-height: 1.3em;
  padding-top: 0.5em;
  font-size: 20px;
}

#bio {
  /* padding: 1.5em 0.3em; */
  border-top: 1px solid darkgrey;
}

#bio-info {
  max-width: 70%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

#profile-photo {
  max-width: 150px;
  align-self: center;
  padding: 4px;
  border: 2px solid rgb(29, 9, 78);
  background-color: #8a8a8a;
  margin-right: 15px;
  border-radius: 3%;
}

.project-info > p {
  color: black;
  padding: 0.5em 0;
  line-height: 1.3em;
}

#passport-img,
#redux-img,
#bootstrap-img {
  width: 48px;
}
.mongoose-img {
  width: 54px;
}

#bio-text {
  color: rgb(12, 12, 12);
  text-align: center;
  
  padding: 0 0.6em;
  
}

#thinkful-link {
  color: black;
  font-weight: bold;
}

#thinkful-link:hover,
#thinkful-link:focus {
  text-decoration: none;
  color: #9f6550;
}

#linkedin:hover,
#linkedin:focus-within {
  color: #0077b5;
}

#github:hover,
#github:focus-within {
  color: #6e5494;
}

#email:hover,
#email:focus-within {
  color: rgb(151, 54, 54);
}
.project {
  max-width: 70%;
  margin: auto;
  padding-bottom: 40px;
}
@media only screen and (min-width: 850px) {
  .project {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .project-info {
    text-align: left;
    margin: 0 0.5em;
  }

  .live-app-link {
    flex-shrink: 0;
    margin: 0;
  }

  .project-screenshot {
    height: auto;
    width: auto;
  }

  .project-links {
    margin-top: 0.8em;
  }
}

@media only screen and (max-width: 650px) {
  .nav-links {
    font-size: 1.3rem;
  }
  .collage {
    width: 80%;
  }
  h1 {
    font-size: 1.9em;
  }
}

@media only screen and (min-width: 600px) {
  #bio-info {
    flex-direction: row;
  }

  #bio-text {
    text-align: left;
  }
}

.Menu-list-item {
  position: relative;
  cursor: pointer;
}

.Menu-list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 49%;
  left: -10%;
  right: -10%;
  height: 4px;
  border-radius: 4px;
  margin-top: -2px;
  background: #ff2c75;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98),
    -webkit-transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
  z-index: 1;
}

/* //Fade in from page */

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.5s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 2.2s;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity: 0;
}

main {
  background: rgba(255, 255, 255, 0.904);
  background-size: contain;
  filter: sepia(0.43) saturate(.8) brightness(0.9) url('#fluffy');

}

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(152, 155, 85, 0.849);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #f7f7f7;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}


nav {
  float: right;
  width: 60%;
}

nav > ul > li {
  color: #f7f7f7;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

body {
  color: #303030;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 5px 2% 250px;
  
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle closest-side,
    rgba(66, 66, 66, 0.911),
    #fafafa9c
  ), url(/detroit-industry.jpg) no-repeat center center fixed;
  filter: url('#spring-grass') sepia(0.83) saturate(1.1) brightness(0.8);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 0;
  min-height: 650px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  
  width: 36px;
  height: 64px;
  border-radius: 25px;
  border: 2px solid #e8f380;
  
  bottom: 80px;
  
  left: 10%;
  
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0.2;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0.2;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
  }
}


.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

nav {
  margin-top: 0 !important;
}